h3{
    left:0;
    display: inline;
    margin:30px;
}
h1{    
    color: rgb(41, 136, 65);
    display: inline-block;
    width: 500px;
    border-radius: 6px;
    margin-left: 40%;
}
.result{
    color:rgb(190, 35, 35);
    font:bold;
    border:solid black 2px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 37%;
    margin-top: 10%;
    width:400px;
    height: 150px;
}
.design{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}